@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #1A1A1A;
    font-family: inter;
    color: #f9f9f9;
}

.nav-bar{
    width: 100%;
    height: 50px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    color: #f9f9f9;
    border-bottom: 1px solid rgb(80, 79, 79);
    font-size: 15px;
    font-weight: 500;
    position: fixed;
    top: 0;
    
}

.logoicon{
    display: flex;
    gap: 7px;
    align-items: center;
}



.logo{
    display: flex;
    gap: 20px;
}

.se-k{
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
    font-size: 13px;
    text-decoration: none;
    color: grey;
    filter: grayscale(100%);
}

.se-k:hover{
    filter: grayscale(0);
}

.bi-search{
    color: #f9f9f9;
}

.search{
    color: #f9f9f9;
}

.ctrl-k{
    border: 1px solid green;
    color: green;
    padding: 3px;
    width: 40px;
    font-family: odibee sans;
    font-weight: lighter;
    font-size: 12px;
    border-radius: 4px;
}

.kspan{
    font-size: 8px;
}

.nav-left{
    margin-left: auto;
    font-size: 12px;
}


.nav-ul{
    display: flex;
     gap: 30px;
    list-style: none;
}

.nav-li{
    display: flex;
    gap: 5px;
    align-items: center;

}

.bi-chevron-down{
    font-size: 10px;
    margin-top: 3px;
}

.nav-right{
    display: flex;
    gap: 20px;
    margin-left: 3%;
    align-items: center;
    
}

.lang-icon{
    border-left: 1px solid rgb(93, 93, 93);
     border-right: 1px solid  rgb(93, 93, 93);
     padding: 2px 12px;
    
}

.bi-translate{
    font-size: 12px;
}

.bi-toggle-on{
    font-size: 30px;
    color: rgb(88, 87, 87);
    filter: grayscale(100%);
}

.bi-toggle-on:hover{
    color: white;
    filter: grayscale(0);
}

.bi-github{
    font-size: 15px;
    color: grey;
    filter: grayscale(100%);
}

.bi-github:hover{
     color: white;
}

.bi-twitter-x{
    font-size: 15px;
    color: grey;
    filter: grayscale(100%);
}

.bi-twitter-x:hover{
     color: white;
}

.bi-discord{
    font-size: 15px;
    color: grey;
    filter: grayscale(100%);
}

.bi-discord:hover{
     color: white;
}

.bi-list-columns-reverse{
    display: none;
}

.tab-dots{
    display: none;
}


 @media(max-width:900px){
   .nav-bar{
    padding-left: 30px;
    padding-right: 20px;
   }
   
    .search{
    display: none;
   }

   .nav-ul{
    font-size: 14px;
    gap: 30px;
   }

   .git-icons{
    display: none;
   }

   .tab-dots{
    display: block;
    font-size: large;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 10px;
   }
} 

@media(max-width:500px){
   .ctrl-k{
    display: none;
   }

   .nav-left{
    display: none;
   }

   .nav-right{
    display: none;
   }

   .bi-list-columns-reverse{
    display: block;

   }

   .tab-dots{
    display: none;
   }

   .bi-search{
    font-size: 18px;
    font-weight: 100;
    margin-left: 180px;
   }

} 


.header-text{
    /* border: 1px solid yellow; */
    width: 62%;
    min-height: 60dvh;
    margin: 70px auto;
    text-align: center;
    /* line-height: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.header-text>h1{
    font-size: 80px;
    font-weight: 900;
    background-image: linear-gradient(to right, #42D392, #5B96E0) ;
    background-clip: text;
    color: transparent;
}

.header-text>p{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 400;
    color: #848f98;
}

.header-text>div{
    font-size: 16px;
    margin-top: 50px;
    color: white;
    /* border: 1px solid white; */
    display: flex;
    gap: 15px;

}

.header-btn{
    color: white;
    text-decoration: none;
    border: 1px solid yellow;
    border-radius: 4px;
    width: fit-content;
    padding: 10px 30px;
}



